/FW_Thermometer/Debug
/PCB_Thermometer/History
/PCB_Thermometer/Project Logs for PCB_Thermometer
/PCB_Thermometer/__Previews
/PCB_ThermometerATt160x/History
/PCB_ThermometerATt160x/Project Logs for PCB_Thermometer
/PCB_ThermometerATt160x/TinaSim
/PCB_ThermometerATt160x/__Previews
/FW_ThermometerSTM/MDK-ARM/DebugConfig
/FW_ThermometerSTM/MDK-ARM/FW_Thermometer
/FW_ThermometerSTM/MDK-ARM/RTE
/FW_ThermometerSTM/MDK-ARM/FW_Thermometer.uvguix.maticpi
/FW_ThermometerSTM/MDK-ARM/startup_stm32l011xx.lst
/STMTestNucleo32L011/MDK-ARM/DebugConfig
/STMTestNucleo32L011/MDK-ARM/TestThermometer
/STMTestNucleo32L011/MDK-ARM/EventRecorderStub.scvd
/STMTestNucleo32L011/MDK-ARM/RTE/_TestThermometer
/STMTestNucleo32L011/MDK-ARM/TestThermometer.uvguix.maticpi
/STMTestNucleo32L011/MDK-ARM/startup_stm32l011xx.lst
/STMTestNucleo32L011/TestThermometer.lnk
/FW_SensorHub/Debug
/FW_SensorHub/HTerm.exe.lnk
/FW_SensorHub/avrdudess.lnk
/FW_SensorHub/ATmega328PB.pdf
/FW_SensorHub/.vs/FW_SensorHub/v14/.atsuo
/FW_ThermometerATt2313/Debug
/FW_ThermometerSTM/FW_Thermometer.lnk
/FW_ThermometerSTM/HAL_L0.pdf
/FW_ThermometerSTM/Inc/Backup
/FW_ThermometerSTM/MDK-ARM/*.bak
/FW_ThermometerSTM/Src/Backup/*.bak
