/FW_Thermometer/Debug
/PCB_Thermometer/History
/PCB_Thermometer/Project Logs for PCB_Thermometer
/PCB_Thermometer/__Previews
/PCB_ThermometerATt160x/History
/PCB_ThermometerATt160x/Project Logs for PCB_Thermometer
/PCB_ThermometerATt160x/TinaSim
/PCB_ThermometerATt160x/__Previews
